# Run many verifiers on metamath files.
# Only one verifier is necessary, but using multiple verifiers counters
# the risk that a verifier might have a defect in its implementation.
# With 4 verifiers, all 4 would have to have a defect involving an
# invalid theorem # for that invalid theorem to be accepted as valid.
# This is unlikely, because the verifiers are written by different people
# in different languages.  This can be considered extreme peer review, where
# every reviewer is separately checking each step.
# Some of these verifiers also check for style,
# so using multiple verifiers can also detect many different style problems.
#
# Note that one of the checks is scripts/verify.
#
# We report an error if the list of "discouraged" results is unexpected;
# this makes it easy to detect changes (which can then be specially reviewed).
# To regenerate the "discouraged" file, you can run scripts/gen-discouraged
#
# We typically rewrap the file using scripts/rewrap.
#
dist: trusty

language: rust
jdk:
  - oraclejdk8
git:
  depth: 3
sudo: false
cache:
  cargo: true # Cache Rust source/executables (takes time to get and recompile)
  timeout: 3600 # Cache for 1 hour (unit is seconds)
before_install:
  - gcc --version
  - g++ --version
  - if [[ "$TRAVIS_OS_NAME" == "osx" ]]; then export JAVA_HOME=$(/usr/libexec/java_home); fi
  - if [[ "$TRAVIS_OS_NAME" == "linux" ]]; then jdk_switcher use "$CUSTOM_JDK"; fi
install:
  # Download, build, and install what we need.
  # NOTE: We install programs in $HOME/bin, so ensure that's on the PATH
  # (usually it is on any non-Windows system).
  # Get metamath C program and supporting files (to validate against them)
  - scripts/download-metamath
  # Build/install metamath, a C verifier (and more) by Norm Megill.
  - scripts/build-metamath
  # Get mmj2, a Java verifier (and more) by Mel O'Cat and Mario Carneiro
  - wget -N -q http://us.metamath.org/ocat/mmj2/mmj2jar.zip
  - unzip -q mmj2jar.zip
  - jdk_switcher use oraclejdk8
  ##### 27-Mar-2019 daw TEMPORARY WORKAROUND - modify mmj2 definitionCheck.js
  ##### so that it looks for "setvar" instead of "set":
  - sed -i -e 's/"set"/"setvar"/g' macros/definitionCheck.js
  # Install smetamath-rs (smm3), a Rust verifier by Stefan O'Rear
  # See: https://github.com/sorear/smetamath-rs
  - "[ -x  ~/.cargo/bin/smetamath ] || cargo install smetamath --vers 3.0.0"
  # Get and compile checkmm, a C++ verifier by Eric Schmidt
  - wget -N -q http://us.metamath.org/downloads/checkmm.cpp
  - g++ -O2 -o checkmm checkmm.cpp
script:
  # Create mmset.html so we can verify against it.
  - metamath 'read set.mm' 'markup mmset.raw.html mmset.html /ALT /CSS' quit
  - metamath 'read iset.mm' 'markup mmil.raw.html mmil.html /ALT /CSS' quit
  - scripts/verify --top_date_skip --extra 'write bibliography mmbiblio.html' set.mm
  - scripts/verify iset.mm
  # Verify and also generate 'discouraged.new', and do extra checking
  # (the 'printf' lets us insert multiple lines):
  - scripts/verify-mmj2 --setparser 'mmj.verify.LRParser' --extra "$(printf 'RunMacro,definitionCheck,ax-*,df-bi,df-clab,df-cleq,df-clel,df-sbc\nRunMacro,showDiscouraged,discouraged.new')" set.mm
  - echo 'Checking discouraged file:' && diff -U 0 discouraged discouraged.new
  # Use setparser to check that definitions don't create syntax ambiguities
  - scripts/verify-mmj2 --setparser 'mmj.verify.LRParser' iset.mm
  - ~/.cargo/bin/smetamath --verify --split --jobs 4 --timing ./set.mm 2>&1 | tee smm.log && [ `egrep '(:Error:|:Warning:)' < smm.log; echo $?` -eq 1 ]
  - ~/.cargo/bin/smetamath --verify --split --jobs 4 --timing ./iset.mm 2>&1 | tee smm.log && [ `egrep '(:Error:|:Warning:)' < smm.log; echo $?` -eq 1 ]
  - scripts/check-raw-html set.mm mmcomplex.raw.html mmdeduction.raw.html mmnatded.raw.html mmnf.raw.html mmset.raw.html mmzfcnd.raw.html
  - scripts/check-raw-html iset.mm mmil.raw.html
  - echo 'Looking for tabs (not allowed)...' && ! grep "$(printf '\t')" set.mm
  - echo 'Looking for tabs (not allowed)...' && ! grep "$(printf '\t')" iset.mm
  - ./checkmm set.mm
  - ./checkmm iset.mm
  # Generate HTML from raw files into mpegif-html/ and mpeuni-html/
  - scripts/regen-from-raw --force '/HTML' .regened.html
  - mkdir -p mpegif-html/
  - for f in *.regened.html; do mv $f mpegif-html/${f%.regened.html}.html ; done
  - scripts/regen-from-raw --force '/ALT_HTML' .regened.html
  - mkdir -p mpeuni-html/
  - for f in *.regened.html; do mv $f mpeuni-html/${f%.regened.html}.html ; done
