[display]
fullscreen=true

[gource]
date-format=%Y-%m-%d
file-idle-time=0
filename-time=2
font-colour=D5D8DC
font-size=18
hide=mouse,filenames
highlight-users=true
max-file-lag=1
max-files=0
path=changes-sorted.log
seconds-per-day=0.01
title=Metamath set.mm contributions. Video by David A. Wheeler using Gource. Music by audionautix.com - "Threshold" by Jason Shaw, CC-BY-3.0 Unported
colour-images=true
highlight-colour=FFFF00
dir-name-depth=1
dir-colour=C0C0C0
user-scale=3
bloom-multiplier=0.3
bloom-intensity=0.3
user-image-dir=people
elasticity=0.05
dir-name-position=0.9
caption-file=scripts/gource-captions.txt
caption-offset=50
logo=mmlogo-small.png
logo-offset=50x1000
